<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Long+Cang&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<body>
<nav class="navbar navbar-expand-lg">
        <h1>Previously On</h1>
        <a class="navbar-brand" href="http://localhost:4200/otherSeries">Séries</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="http://localhost:4200/series">Ma liste</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="http://localhost:4200/amis">Mes amis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="http://localhost:4200/profil">Mon compte</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
</nav>
     <div container>
            <h3>Détails</h3>
            <div *ngFor="let serie of series">
     <div class="poster"  style="height: 38rem;">
              <img class="c" [src]="serie.images['poster']" height =" 700px" alt="Card image cap">
     </div>
      
        <div class="details">
          <div class="title">{{ serie.title }} <br><div class="title2"><star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp> Note : {{ note }}/5 <br></div></div>
        <div class="genre">Genre : <span *ngFor="let genre of genres">{{ genre }} / </span></div></div>
            <div class="description"><p>{{ serie.description }}</p></div>
            <div class="saisons">{{ serie.length }} min | {{ serie.seasons }} saisons  | {{ serie.episodes }} épisodes</div>
           
       
        </div>
</div> 
</body>
</html> 
       
           
       